[user]
	name = my_name
	email = my_email
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = mvim
[merge]
	tool = opendiff
[push]
	default = matching
[pull]
	default = matching
